@import url(https://fonts.googleapis.com/css?family=VT323);
/*@import url(https://fonts.googleapis.com/css?family=Cousine);*/

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'VT323', monospace;
  font-size: 14px;
  color: #C0C0C0;
}

#console {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #343434;
}
